@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  font: inherit;
  vertical-align: baseline;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  max-width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

[class|=col] {
  flex: 0 0 auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.full-height {
  min-height: 100vh;
  height: 100%;
  padding: 32px 0;
}

.full-height-90 {
  min-height: 70vh;
  height: 100%;
  padding: 32px 0;
}

main {
  background-color: #F6F7F9;
}

.two__cards {
  padding-left: 20px;
}
.two__cards .row {
  gap: 60px;
}
.two__cards .row .card {
  width: 640px;
  height: 360px;
  background-color: #54A6FF;
  border-radius: 8px;
  position: relative;
}
.two__cards .row .card .card-content {
  padding: 24px;
}
.two__cards .row .card .card-content h1 {
  font-size: 32px;
  height: 700;
  color: #fff;
  line-height: 48px;
}
.two__cards .row .card .card-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding: 15px 0;
}
.two__cards .row .card .card-content .rental-car {
  padding-top: 10px;
}
.two__cards .row .card .card-content .rental-car a {
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #3563E9;
}
.two__cards .row .card .card-content .card-img {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.two__cards .row .card .card-content .card-img img {
  width: 500px;
  height: 100px;
}
.two__cards .row .card2 {
  width: 640px;
  height: 360px;
  background-color: #3563E9;
  border-radius: 8px;
  position: relative;
}
.two__cards .row .card2 .card-content {
  padding: 24px;
}
.two__cards .row .card2 .card-content h1 {
  font-size: 32px;
  height: 700;
  color: #fff;
  line-height: 48px;
}
.two__cards .row .card2 .card-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding: 15px 0;
}
.two__cards .row .card2 .card-content .rental-car {
  padding-top: 10px;
}
.two__cards .row .card2 .card-content .rental-car a {
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #54A6FF;
}
.two__cards .row .card2 .card-content .card-img {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.two__cards .row .card2 .card-content .card-img img {
  width: 500px;
  height: 100px;
}

.pickUp {
  padding-top: 30px;
}
.pickUp .row {
  display: flex;
  gap: 18px;
}
.pickUp .row .leftPick {
  background-color: #fff;
  width: 582px;
  height: 132px;
  border-radius: 8px;
}
.pickUp .row .leftPick .pickUpContent {
  padding-top: 24px;
  padding-left: 48px;
}
.pickUp .row .leftPick .pickUpContent .select {
  padding-top: 20px;
}
.pickUp .row .leftPick .pickUpContent .select label {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 700;
}
.pickUp .rightPick {
  background-color: #fff;
  width: 582px;
  height: 132px;
  border-radius: 8px;
}
.pickUp .rightPick .pickUpContent {
  padding-top: 24px;
  padding-left: 48px;
}
.pickUp .rightPick .pickUpContent .select {
  padding-top: 20px;
}
.pickUp .rightPick .pickUpContent .select label {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 700;
}

.ikon {
  font-size: 20px;
  width: 60px;
  height: 60px;
  background-color: #3563E9;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
}
.ikon .fa-arrow-right-arrow-left {
  margin-top: 20px;
  color: #fff;
}

#cars {
  padding-left: 30px;
  padding-right: 70px;
}
#cars .top-cars-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cars .top-cars-content a {
  color: #54A6FF;
}
#cars .card {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 290px;
  min-height: 368px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
#cars .card .car-name {
  padding-top: 10px;
}
#cars .card .fa-heart {
  position: absolute;
  right: 10px;
  top: 40px;
}
#cars .card img {
  padding-top: 30px;
  padding-left: 30px;
}
#cars .card .car-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
#cars .card .car-image {
  min-width: 232px;
  height: 72px;
  margin: 20px 0;
  filter: drop-shadow(0 0 0.75rem gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cars .card .details {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#cars .card .details .detail {
  display: flex;
  align-items: center;
}
#cars .card .details .detail .icon {
  margin-right: 5px;
}
#cars .card .details .detail .detail {
  margin-left: 10px;
}
#cars .card .price {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
#cars .card .price a {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
#cars .card .price a:hover {
  background-color: #0056b3;
}
@media only screen and (max-width: 993px) {
  #cars .details .detail {
    flex-direction: column;
  }
}
#cars .button-links {
  display: flex;
  height: 10px;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
}
#cars .button-links a {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
#cars .button-links a:hover {
  background-color: #0056b3;
}

header {
  font-family: "Plus Jakarta Sans", sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
header nav .leftNavbar {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav .leftNavbar a {
  font-size: 32px;
  font-weight: 700;
  color: #3563E9;
  padding-top: 40px;
}
header nav .leftNavbar .search {
  position: relative;
}
header nav .leftNavbar .search input {
  position: absolute;
  border-radius: 70px;
  width: 452px;
  height: 44px;
  padding-left: 50px;
  font-size: 16px;
}
header nav .leftNavbar .search .fa-magnifying-glass {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 25px;
}
header nav .leftNavbar .search .fa-timeline {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 400px;
}
header nav .rightNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40PX;
  gap: 20px;
}
header nav .rightNavbar .fa-solid {
  width: 44px;
  height: 44px;
  border-radius: 90px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.umumi {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}
.umumi .right__div h4 {
  font-size: 30px;
  color: #007bff;
  padding-bottom: 12px;
}
.umumi .right__div p {
  color: grey;
}

.left__div {
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}
.left__div ul li {
  list-style: none;
  font-size: 15px;
  padding-top: 10px;
}
.left__div h5 {
  font-size: 30px;
}

.width {
  background-color: grey;
  width: 100%;
  height: 2px;
}

.end {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}/*# sourceMappingURL=main.css.map */